@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Oswald:wght@300&display=swap');

.navbar{
    background-color: #595959;
    width: 1510px;
    height: 50px;
    text-align: right;
    padding-top: 10px;

}

.nav-item{
    color: white;
    font-size: 25px;
    font-family: 'Oswald', 'sans serif';
    margin-right: 20px;
}

.first h1{
    text-align: center;
    font-family: 'Orbitron', 'sans serif';
}
.first{
    text-align: center;
}
.button-align{
    margin-left: 37%;
}
.btn{
    border: 2px solid black;
    width: 400px;
    height: 30px;
    background-color: lightblue;
    cursor: pointer;
}
.gallery{
    background-color: aliceblue;
    text-align: center;
    font-family: 'Orbitron', 'sans serif';
    margin-right: 2px;
    margin-left: 2px;
}
.footer{
    background-color: #595959;
    color: #ffffff;
}
.footer h1{
    font-family: 'Orbitron', 'sans serif';
}
.font-fam{
    font-family: 'Oswald', 'sans serif';
}


.insta{
    width: 30px;
    height: auto;
}
.twit{
    width: 35px;
    height: auto;
}
.utube{
    width: 40px;
    height: auto;
}
.social-media{
    margin-left: 15px;
    margin: 5px;
}